<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="BattlefieldWidth" value="1600"/>
    <add key="BattlefieldHeight" value="900"/>
    <add key="TurnDelayInMilliseconds" value="5"/>
    <add key="MaxHitPoints" value="100"/>
    <add key="MaxBotSpeed" value="200"/>
    <add key="MinBotSpeed" value="100"/>
    <add key="PistolAmmunitionSpeed" value="200"/>
    <add key="PistolAmmunitionDamage" value="5"/>
    <add key="PistolReloadTimeInMilliseconds" value="2000"/>
    <add key="PistolAimTimeInMilliseconds" value="500"/>
    <add key="PistolMaxRange" value="300"/>
    <add key="RoundTimeoutInSeconds" value="300"/>
  </appSettings>
</configuration>