<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="BattlefieldWidth" value="1600"/>
    <add key="BattlefieldHeight" value="900"/>
    <add key="TurnDelayInMilliseconds" value="5"/>
    <add key="MaxHitPoints" value="100"/>
    <add key="MaxBotSpeed" value="50"/>
    <add key="MinBotSpeed" value="25"/>
    <add key="RegenerationAfterNoDamageInSeconds" value="5.0"/>
    <add key="RegenerationPerSecond" value="1.0"/>

    <add key="PistolChance" value ="50"/>
    <add key="RifleChance" value="30"/>
    <add key="MachineGunChance" value="20"/>
    <add key="ShotgunChance" value="20"/>
    <add key="SniperRifleChance" value="10"/>

    <add key="PistolReloadTimeInMilliseconds" value="1000"/>
    <add key="PistolAimTimeInMilliseconds" value="1000"/>
    <add key="PistolMaxRange" value="300"/>
    <add key="PistolAmmunitionSpeed" value="200"/>
    <add key="PistolAmmunitionDamage" value="5"/>
    <add key="PistolAmmunitionCount" value="30"/>
    <add key="PistolAmmunitionMaxCount" value="60"/>
    <add key="PistolAccuracy" value="97.0"/>
    
    <add key="RifleReloadTimeInMilliseconds" value="1000"/>
    <add key="RifleAimTimeInMilliseconds" value="1000"/>
    <add key="RifleMaxRange" value="600"/>
    <add key="RifleAmmunitionSpeed" value="400"/>
    <add key="RifleAmmunitionDamage" value="10"/>
    <add key="RifleAmmunitionCount" value="10"/>
    <add key="RifleAmmunitionMaxCount" value="20"/>
    <add key="RifleAccuracy" value="99.0"/>

    <add key="MachineGunReloadTimeInMilliseconds" value="100"/>
    <add key="MachineGunAimTimeInMilliseconds" value="100"/>
    <add key="MachineGunMaxRange" value="500"/>
    <add key="MachineGunAmmunitionSpeed" value="400"/>
    <add key="MachineGunAmmunitionDamage" value="3"/>
    <add key="MachineGunAmmunitionCount" value="30"/>
    <add key="MachineGunAmmunitionMaxCount" value="60"/>
    <add key="MachineGunAccuracy" value="90.0"/>

    <add key="ShotgunReloadTimeInMilliseconds" value="1900"/>
    <add key="ShotgunAimTimeInMilliseconds" value="100"/>
    <add key="ShotgunMaxRange" value="200"/>
    <add key="ShotgunAmmunitionSpeed" value="400"/>
    <add key="ShotgunAmmunitionDamage" value="4"/>
    <add key="ShotgunAmmunitionCount" value="7"/>
    <add key="ShotgunAmmunitionMaxCount" value="14"/>
    <add key="ShotgunBulletsPerShot" value="10"/>
    <add key="ShotgunAccuracy" value="80.0"/>

    <add key="SniperRifleReloadTimeInMilliseconds" value="3000"/>
    <add key="SniperRifleAimTimeInMilliseconds" value="2000"/>
    <add key="SniperRifleMaxRange" value="1000"/>
    <add key="SniperRifleAmmunitionSpeed" value="1000"/>
    <add key="SniperRifleAmmunitionDamage" value="50"/>
    <add key="SniperRifleAmmunitionCount" value="5"/>
    <add key="SniperRifleAmmunitionMaxCount" value="10"/>
    <add key="SniperRifleAccuracy" value="100.0"/>
    
    <add key="RoundTimeoutInSeconds" value="300"/>
  </appSettings>
</configuration>